<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-chip"></div>
        <div class="glyph-icon flaticon-car"></div>
        <div class="glyph-icon flaticon-programming"></div>
        <div class="glyph-icon flaticon-atom-1"></div>
    </div>
    <div class="blurb">
        <p>
            Hey
            I am Dhurai, an engineer. I love engineering and technology, and most important of all, I love to work on challenging and new problems. So I constantly explore new fields outside my domain, searching for new ideas and exciting problems to solve. Apart from my passion for engineering, I also enjoy exploring ideas in philosophy and art.
            My biggest strength is my will to understand the abstraction layers of whatever field I get into (except for Humans factors :)) because I am subconsciously drawn toward finding the patterns. 
            <p>
                Currently, I am working as a function developer for state estimation at Volvo Groups in Sweden. Over the past few years, I have developed a wide range of skills within field experiments, software and data analysis and had the opportunity to implement them in widely different fields like Vehicle dynamics, Autonomous vehicle and Human factors. Exploring new fields and taking on challenging tasks outside my comfort zone and connecting them from a complete system perspective for synergy is a kind of work that gets me super excited. Basically finding structure in the chaos (those Ha-ah! moments) and I think it's extremely fun :)
            </p>
     <!--   <p>
            <b>I am currently open to challenges </b> and willing to relocate anywhere in the world.
            If you have something interesting, you can <a href="mailto:dhuraiip@gmail.com" style="color:black"><b>get in touch</b></a>.
        </p> -->

    </div>
    <div class="skill-lock"></div>
</section>
