<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">My Timeline</h2>
        <hr class="bar" />
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/school.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading" style="color:black"> SASTRA University</h2>
                <P>
                    Completed my studies in Mechanical and Automotive engineering with the first-class distinction.
                    My focus of the study was primarily in vehicle dynamics, safety, Industrial robotics and control theory.
                    <!--<p style="color:black">Failures and lesson learned: Importance of being more value-driven than status-driven (like high-grade points, publication etc)</p>-->
                <p style="color:black">Failures and lesson learned: Importance of understanding the given problem at its most fundamental level.</p>
                <p style="color:black">Achievements: Published papers, Excellent academic grades etc.</p>

                </P><span class="cd-date">2013-2018</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/race.svg" alt="College" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 style="color:black"> SAE Baja competition</h2>
                <p>
                    I was part of the team that built a really cool buggy-type ATV and competed with teams all over
                    India. I was the head and responsible for suspension and vehicle dynamics subsystem.
                <p style="color:black">Failures and lesson learned: Importance of project management, and how the lack of it and the focus only on the product can cripple the team.</p>
                <p style="color:black">Achievements: Building a car from Scatch :).</p>
                </p><span class="cd-date">2014-2016</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/simulation.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content" style="color:black">
                <h2 style="color:black"> SINA Mobility</h2>
                <p>
                    I worked on my thesis at a start-up company called SINA mobility for six months. Then I continued to
                    work full time before moving to Sweden. My role involved in developing suspension concept, multibody
                    dynamics analysis and prototyping.
                <p style="color:black">Failures and lesson learned: Importance of inspiring people and having a common goal.</p>
                <p style="color:black">Achievements: Conceptualized a novel suspension system.</p>
                </p><span class="cd-date">Nov 2017 - July 2018</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/school.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content" style="color:black">
                <h2 style="color:black"> Master studies @ Chalmers university</h2>
                <p>
                    Completed my Masters in Automotive Engineering. Elements of the course include a
                    control system, Electric and hybrid powertrain, advanced vehicle dynamics and stochastic
                    optimization algorithms.
                <p style="color:black">Failures and lesson learned: Learned that engineering and problem-solving are relatively quite easy in comparison to innovation and finding "secrets" in technology.</p>
                <p style="color:black">Achievements: Gained a new perspective on life and the importance of exploration.</p>
                </p><span class="cd-date">2018-2020</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/formula-1.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content" style="color:black">
                <h2 style="color:black"> Project Engineer @ Chalmers formula student</h2>
                <p>
                    I was responsible for vehicle
                    dynamics, tires and the steering system. This was one of the most exciting and challenging projects
                    that I ever got to work on, and we participated in two competition: FS Netherlands and Austria
                    during that season.
                <p style="color:black">Failures and lesson learned: Learned the importance of solving a problem for the "usefulness" for the team, simplification in engineering and optimizing a subsystem for system-level synergy than a subsystem-level optimization.</p>
                <p style="color:black">Achievements: Developed a simulation SW, found a structured methodology to set targets and requirements, Manufactured around 50+ parts in a short time.</p>
                </p><span class="cd-date">2018 - 2019</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="../assets/img/sports-and-competition.svg"
                     alt="Location" />
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content" style="color:black">
                <h2 style="color:black"> Project Engineer @ Chalmers formula student driverless</h2>
                <p>
                    Joined the team that builds the autonomous part of the vehicle. I took responsibility for the
                    controls of the Autonomous system. I was also responsible for the overall concept analysis and race
                    engineering.
                <p style="color:black">Failures and lesson learned: Team communication and simplification.</p>
                <p style="color:black">Achievements: First team after three years to participate in FS Germany.</p>
                </p><span class="cd-date">2019-2020</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/volvo.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content" style="color:black">
                <h2 style="color:black"> Master thesis @ Volvo cars</h2>
                <p>
                    Worked within the wheel suspension E & SW team. My
                    thesis topic is "Influence of signal delays and accuracy,
                    on the performance of suspension
                    control system and controller design"
                <p style="color:black">Failures and lesson learned: Realized that too much simplication on "Human factors" studies can lead to misleading results.</p>
                <p style="color:black">Achievements: Found methodologies and metrics that are most useful for analysing system with delays. The final results are to be used for sensor specification.</p>
                </p><span class="cd-date">2019-2020</span>
            </div><!-- cd-timeline-content-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/volvo.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content" style="color:black">
                <h2 style="color:black"> PhD researcher at TU Delft</h2>
                <p>
                    Worked Worked on human motion perception and sickness prediction in the context of Automated vehicles and driving simulators in collaboration with Toyota Motor Europe.
                <p style="color:black">Failures and lesson learned: Tried to understand how the human brain perceives the world in a formal way. So I digged deeper into the topic to the point where it screwed up my perception of reality.</p>
                <p style="color:black">Achievements: Found certain secrets of the human biological systems.  </p>
                </p><span class="cd-date">2020-2021</span>
            </div><!-- cd-timeline-content-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/volvo.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content" style="color:black">
                <h2 style="color:black"> Function developer at Volvo groups</h2>
                <p>
                    Working as a function developer in the vehicle motion estimation team within the vehicle motion management group.
                <p style="color:black">Failures and lesson learned: Still learning :) .</p>
                <p style="color:black">Achievements: Improved the speed of the CI flow by more than 60%.  </p>
                </p><span class="cd-date">2022-Current</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"><img src="../assets/img/question.svg" alt="Location" /></div>
            </div><!-- cd-timeline-->
        </div>

    </section>
    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>
