<div class="history">
    <div class="cd-timeline-header"><h2 id="Experenice">My Timeline</h2><hr class="bar" /></div><section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="https://dhurai1995.github.io/forDomain/assets/img/school.svg" alt="Picture" /></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2 class="story-heading">SASTRA University</h2><P>Completed my studies in Mechanical and Automotive engineering with the first-class distinction from SASTRA University, India. My focus of the study was primarily in vehicle dynamics, safety, Industrial robotics and control theory.</P><span class="cd-date">2013-2018</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div><div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="https://dhurai1995.github.io/forDomain/assets/img/race.svg" alt="College" /></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>SASTRA Racing team</h2><p>I was part of the team that built a really cool buggy-type ATV and competed with teams all over India. I was the head and responsible for suspension and vehicle dynamics subsystem.</p><span class="cd-date">2014-2016</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div><div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="https://dhurai1995.github.io/forDomain/assets/img/simulation.svg" alt="Picture" /></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>Worked in a Start-Up</h2><p>I worked on my thesis at a start-up company called SINA mobility for six months. Then I continued to work full time before moving to Sweden. My role involved in developing suspension concept, multibody dynamics analysis and prototyping.</p><span class="cd-date">Nov 2017 - July 2018</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div><div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="https://dhurai1995.github.io/forDomain/assets/img/school.svg" alt="Location" /></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>Master studies @ Chalmers university</h2><p> I am currently pursuing my Masters in Automotive Engineering. Elements of the course include a linear control system, Electric and hybrid powertrain, advanced vehicle dynamics and stochastic optimization algorithms. The program has given me an in-depth knowledge of various aspects of vehicle engineering in practical aspects.</p><span class="cd-date">2018-2020</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div><div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="https://dhurai1995.github.io/forDomain/assets/img/formula-1.svg" alt="Location" /></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>Project Engineer @ Chalmers formula student</h2><p>I was part of the Chalmers formula student 2019 team and was primarily responsible for vehicle dynamics, tires and the steering system. This was one of the most exciting and challenging projects that I ever got to work on, and we participated in two competition: FS Netherlands and Austria during that season.</p><span class="cd-date">2018 - 2019</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div><div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="https://dhurai1995.github.io/forDomain/assets/img/sports-and-competition.svg" alt="Location" /></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>Project Engineer @ Chalmers formula student driverless</h2><p> Joined the team that builds the autonomous part of the vehicle. I took responsibility for the controls of the Autonomous system. I was also responsible for the overall concept analysis and race engineering.</p><span class="cd-date">2019-2020</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div><div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="https://dhurai1995.github.io/forDomain/assets/img/volvo.svg" alt="Location" /></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>Master thesis @ Volvo cars</h2><p> I am currently working on my Master thesis at Volvo Cars within the wheel suspension E & SW team. My thesis work is divided into two parts. The first part of the work is to study the influence of signal delay, accuracy and synchronization on the performance of the suspension control system. The second part is to develop a controller to compensate for the delays within the system.</p><span class="cd-date">2020-Current</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--><div class="cd-timeline-block"><div class="cd-timeline-img cd-location"><img src="https://dhurai1995.github.io/forDomain/assets/img/question.svg" alt="Location" /></div></div><!-- cd-timeline-->
        </div>
    </section><div class="cd-timeline-header"><h2></h2></div>
</div>
