﻿<!DOCTYPE html>
<html>
  <head>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176428002-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176428002-1');
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dhurai Prabhahar</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://dhurai1995.github.io/forDomain/assets/css/main.css">
    <link href="kudos.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>


  {{ content }}
  {% include footer.html %}
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhurai1995.github.io/home/assets/js/functions.js"></script>
  <script src="https://dhurai1995.github.io/home/assets/js/main.js"></script>
  <script src="https://dhurai1995.github.io/home/assets/js/modernizr.js"></script>
  <script src="https://dhurai1995.github.io/home/assets/js/kudos.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70467029-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
