---
layout: default
---

{% include header.html %}

{% include about.html %}

{% include history.html %}

<h2 id="Blog"> Featured Projects </h2>
<hr class="bar-blog"> </hr>

<div align="center">
    <h7>Vehicle dynamics: </h7>
</div>
<div class="contents">

    <a href="https://dhurai1995.github.io/home/blog/2019/01/01/Project-one.html"><h1 class="post-title" style="font-size:35px;">Development of Laptime Simulation Software with GUI.</h1> </a>
    <a href="https://github.com/Dhurai1995/vehicleDynamics_Assignment3"><h1 class="post-title" style="font-size:35px;">Designing an Electronic Stability and Active anti roll bar Control system in MATLAB/Simulink</h1> </a>
    <p style="margin-bottom:2cm;"></p>

</div>

<div align="center">
    <h7>Machine learning stuffs: </h7>
</div>
<div class="contents">
    <a href="https://dhurai1995.github.io/home/blog/2018/01/01/Project-two.html"><h1 class="post-title" style="font-size:35px;"> Housing price prediction(Regression)</h1> </a>
    <a href="https://github.com/Dhurai1995/image_Classification"><h1 class="post-title" style="font-size:35px;"> Image classification using ML of the MNIST data </h1> </a>
    <a href="https://github.com/Dhurai1995/FFR105_StochasticOptimizationAlgorithm"><h1 class="post-title" style="font-size:35px;"> Implementation of Stochastic optimization algorithms (GA,PSO,LGP) </h1> </a>
    <p style="margin-bottom:2cm;"></p>

</div>

<hr class="bar-blog"> </hr>

<h2 class="story-heading" style="font-size:35px;"><a href="/posts" style="color:black"> More >> </a></h2>
<!--<h2 id="Blog"><a href="/posts"> More >> </a></h2>-->
{% include contact.html %}

<!--{% include message.html %}-->
